/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */




.root{
	
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgba(64,131,56,0.8352941274642944) 0.0, rgb(204,255,255) 100.0 )
	
	
	
	
	
}

#listview{
	
	
	-fx-background-image: url(https://i.pinimg.com/736x/c7/2c/a6/c72ca6b569e9729191b465dba7dda209--winnie-the-pooh-characters-baby-winnie-the-pooh.jpg);
	
	-fx-border-width: 20px;
	
	-fx-border-color: greenyellow ;
	
	-fx-animated: true ;
	
}