@charset "ISO-8859-1";



body{

background-color:rgba(149,217,215,0.5);

}

#titulodv{

background-color:powderblue;
border-style: dotted;
margin: 10px;

}

#tituloletras{

font-family:Gabriola; 
font-size:60px; 
text-align:center;
color:darkblue;"


}

{
	

	
	
	
	
	
}
